{{#if alignLeft}}
  <span {{bind-attr class=":indicator checking:checking up:up:down"}}></span>
{{/if}}
much sever, very status
{{#if alignRight}}
  <span {{bind-attr class=":indicator checking:checking up:up:down"}}></span>
{{/if}}
