<h2>Accept your transaction</h2>
<p>{{from}} wishes to send you {{amount}} DOGE! Enter your email address and desired password.</p>
{{shibe-login transaction=model afterConfirmedAcceptance='goToHistory'}}
