<h2 id='title'>Shibe.io</h2>

{{outlet}}

<p>
  <small>
    {{#if apiIsUp}}
      The API is up! Hooray!
    {{else}}
      {{#if checkingApi}}
        <em>Checking API status...</em>
      {{else}}
        The API could not be accessed.
      {{/if}}
    {{/if}}
  <small>
</p>

{{#if currentUserId}}
  You are logged in ({{currentUserId}})
{{/if}}
